@model Quiron.LojaVirtual.Dominio.Entidade.Produto
@using Quiron.LojaVirtual.Web.HtmlHelpers


    <div class="well">
        <h3><strong>@Model.Nome</strong></h3>

        <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
        <span class="lead">@Model.Descricao</span>
    </div>
