@model Quiron.LojaVirtual.Web.Models.Carrinho

<div class="navbar navbar-right">
    @Html.ActionLink("Checkout", "Index", "Carrinho", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default" });
</div>

<div class="navbar-text navbar-right">
    <b>Seus itens:</b> 
    @Model.ItensCarrinho.Count() item(s), @Model.ObterValorTotal().ToString("c")
</div>
